<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cbta205</title>
    <link             href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <script>
        function updateDateTime() {
            // Get the current date and time in Central Mexico
            let options = {
                timeZone: "America/Mexico_City",
                year: "numeric",
                month: "long",
                day: "numeric",
                hour: "2-digit",
                minute: "2-digit",
                second: "2-digit",
                hour12: true
            };

            let currentDateTime = new Date().toLocaleString("es-MX", options);

            // Format the date and time as "9 de abril de 2025, 09:40:00"
            const dateTimeElement = document.getElementById('date-time');
            if (dateTimeElement) {
                dateTimeElement.innerHTML = currentDateTime;
            }
        }

        // Update the time every second
        setInterval(updateDateTime, 1000);

        // Initial call to set the time immediately
        updateDateTime();
    </script>
    <style>

        #btnCerrar {

            position: sticky;
            top:0;
            margin-top:0px;
            margin-left:75%;
            z-index: 1000;
        }

        #banner {
            display:block;
            margin-left:auto;
            margin-right:auto;
            width:100%;
            height: 240px;
            object-fit:cover;
        }
        body {

            margin-left: auto;
            margin-right: auto;
            text-align:justify;
        }

        .partial-footer-total {
            color:#AA99e1;
            font-size:14px;
        }

        .navtxt{
            color:rgb(100,100,100);
        }

        .btn-sm {
            width:100px;
        }

        .noexist {

        }
        .container{
            margin-left:auto;
            margin-right:auto;
            text-align:justify;
        }
        .apertura{
            padding:10px;
            background-color:rgba(50, 250, 37, 0.25);
        }
        .desarrollo{
            padding:10px;
            background-color:rgba(247, 234, 47, 0.3);
        }

        .cierre{
            padding:10px;
            background-color:rgba(250, 117, 221, 0.25);
            color:#B51767;
        }




    </style>

    </head>
        <nav class="navbar fixed-top bg-white shadow-sm mb-4">
            <div class="container-fluid d-flex justify-content-between row">
                {% if session.username %}
                <span class="navbar-brand mb-0 h1 navtxt col-7">Usuario: {{session.username}}</span>
                {% endif %}
            </div>
            <a href="{{ url_for('logout') }}" class="btn btn-danger btn-sm col-5" id="btnCerrar">Cerrar Sesión</a>
        </nav>



        <img class="mt-5" id="banner" src= "https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExczVjMG5xeXByZnAydHNsdWRuejBvdGltMms2aWkzdWg3czc1bm1nMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/zqtOYPQZ8Kb5pMlH8p/giphy.gif">




    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="container mt-3">
            {% for category, message in messages %}
              <div class="alert alert-{{ 'danger' if category == 'danger' else 'success' }}" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

    <div style="text-align:left;padding-left:20px;">
        <text style="font-size:11px;color:#04AA6D;" id="date-time"></text>&nbsp;
        <text style="font-size:11px;color:#04AA6D;">, </text>
        <text style="font-size:11px;color:#04AA6D;" id="time"></text>
    </div>
<body>
    <header>

    </header>


    <main class="container col-12 col-md-9">
        <p style="text-align:right;color:rgb(150,150,150);">@ by HRBC.</p>

        {% if info %}
          <div class="alert alert-info mt-3">
            {{ info }}
          </div>
        {% endif %}
<!--        <a href="https://dgetaycm.sep.gob.mx/Con%C3%B3cenos/2" target="_blank">Acerca de DGETAyCM</a>&#128072;<br>
        <a href="https://renebec.github.io/mapdgetaycm/" target="_blank">Mapa de planteles</a>&#128072;

 -->       
        <h2 class="text-center mt-4 mb-2" style="color:rgb(100,100,100);">
        Avisos en general</h2>

<br><br>


        {% if es_profesor %}



        <a href="{{ url_for('enviaractividad') }}" class="btn btn-warning">Subir un archivo PDF</a>
        {% endif %}

        {% if is_master %}
            <h3>Todos los PDFs cargados</h3>
        {% else %}

        <div style="background-color:#acEbA9" class="row justify-content-between">
            <div class="col-12 col-md-4 mt-0">
                <p>
                    <h3>Campaña de potenciación<br>
                    del seguro institucional</h3>
                    Acércate a recursos humanos para
                    actualizar tus datos del seguro
                    institucional.
                </p>
            </div>
            <div style="background-color:#EaEc99" class="col-12 col-md-4 mt-0">
                <p>
                    <h3>Código de ética</h3>
                    No olvides firmar el acuse de difusión
                    del <i>código de ética</i>.
                </p>
            </div>
            <div class="col-12 col-md-4 mt-0">
                <p>
                    <h3>Becas SNTE</h3>
                    No olvides participar en la rifa de bacas SNTE.
                </p>
            </div>
        </div>
        <br>
        <br>

        <hr>

        <!--Material docentes -->
        <div>
              <h1>Material para docentes</h1>
              <div class="row justify-content-between">
                <div class="col-12 col-md-3">
                  <a href="https://registro.desarrolloprofesionaldocente.sems.gob.mx/" target="_blank">
                    Cursos de formación docente<br>
                    <img class="img-fluid" max-width="280" max-height="190" src="https://gaceta.cch.unam.mx/sites/default/files/media-image/pag_11a_6.png">
                    <div class="d-block d-sm-none">
                      <!-- Este contenido solo será visible en móviles -->
                      <br><br>
                    </div>
                  </a>
                </div>
                <div class="col-12 col-md-3">
                  <a href="https://mexico.learningpassport.org/" target="_blank">
                    Pasaporte al aprendizaje<br>
                    <img class="img-fluid" max-width="280" max-height="190" src="https://d1fdloi71mui9q.cloudfront.net/MtxVa91zRAuiJr4RM2wX_videos.PNG">
                    <div class="d-block d-sm-none">
                      <!-- Este contenido solo será visible en móviles -->
                      <br><br>
                    </div>
                  </a>
                </div>
                <div class="col-12 col-md-3">
                    <a href="https://innoversia.net/top-plataformas-educativas-profesores-guia-aula/" target="_blank">
                      <a href="https://eventos.activa.la/google-dgetaycm/certificaciones"  target="_blank"> <h2>Google</h2> cursos y certificaciones.</a><br>
                      <img class="img-fluid" max-width="280" max-height="190" src="https://static.vecteezy.com/system/resources/previews/010/930/001/original/google-logo-icon-illustration-free-vector.jpg"><br>
                      Video con las <a href="https://youtu.be/0KsxQ64jmMo?si=mBei1QXD0vv_Lp6j" target="_blank">instrucciones.</a>
                      <div class="d-block d-sm-none">
                        <!-- Este contenido solo será visible en móviles -->
                        <br><br>
                      </div>
                    </a>
                  </div>
              </div>

                <br>
                <div class="row justify-content-start">

                  <div class="col-12 col-md-4"  align="left">
                    <a href="https://www.gob.mx/semarnat/documentos/centros-de-educacion-y-cultura-ambiental" target="_blank">
                      Centros de Educación y Cultura Ambiental<br>
                      <img class="img-fluid" max-width="280" max-height="190" src="https://images.pexels.com/photos/886521/pexels-photo-886521.jpeg">
                      <div class="d-block d-sm-none">
                        <!-- Este contenido solo será visible en móviles -->
                        <br><br>
                      </div>
                    </a>
                  </div>

                    <div class="col-12 col-md-4"  align="center">
                        <h2>Planes y programas</h2>
                        <ul align="left">
                        <li><a href="https://cosfac.sems.gob.mx/Programas_presenciales/2023/PROGRAMA_DE_ESTUDIOS_AGROPECUARIO.pdf" target="_blank">
                              Técnico Agropecuario</a></li>

                         <li><a href="https://cosfac.sems.gob.mx/Programas_presenciales/2024/ADMINISTRACION_EMPRENDIMIENTOS1.pdf" target="_blank">
                              Administración de Emprendimientos</a></li>
                             <li><a href="https://cosfac.sems.gob.mx/Programas_presenciales/2025/SOPORTE_Y_GESTION_DE_TECNOLOGIAS_INFORMATICAS.pdf" target="_blank">
                              Soporte y Gestión de Tecnologías Informáticas
                              </a></li>
                         </ul>
                    </div>
                    <div class="d-block d-sm-none">
                        <!-- Este contenido solo será visible en móviles -->
                        <br><br>
                      </div>
                    <div class="col-12 col-md-4" align="center">
                        <a href="http://168.255.121.25/develop/index.php" target="_blank">Subir calificaciones a SISEEMS.<br>
                            <img  src="https://cbta205.onrender.com/static/SISEEMS.png" class="img-fluid" max-height="190" max-width="280">
                        
                    

                    <div class="d-block d-sm-none">
                        <!-- Este contenido solo será visible en móviles -->
                        <br><br>
                      </div>
                    </a>

                </div>
              </div>
            <br><br>
            <div class="row justify-content-between">

              <div class="col-12 col-md-4"  align="center">
                <a href="https://portalautoservicios-sems.sep.gob.mx/login.jsp;jsessionid=541df8d7c4712483b31cd59cd075" target="_blank">
                  Descarga tus talones de pago<br>
                  <img class="img-fluid" max-width="280" max-height="160" src="https://images.pexels.com/photos/7534805/pexels-photo-7534805.jpeg">
                  <div class="d-block d-sm-none">
                    <!-- Este contenido solo será visible en móviles -->
                    <br><br>
                  </div>
                </a>
              </div>

                  

                  <div class="col-12 col-md-4"  align="center">
                      <a href="http://plataforma-dgetaycm.sep.gob.mx/plataforma/plataforma/" target="_blank">
                        Registrar planeaciones didácticas<br>
                        <img class="img-fluid" max-width="280" max-height="160" src="https://images.pexels.com/photos/7718886/pexels-photo-7718886.jpeg">
                        <div class="d-block d-sm-none">
                          <!-- Este contenido solo será visible en móviles -->
                          <br><br>
                        </div>
                      </a>
                  </div>
                  
              </div>


        <!-- PDF's -->
        <!--
        <br><br><br>
            <h3>Tus PDFs</h3>
        {% endif %}

        {% if pdfs %}
        <ul>
        {% for pdf in pdfs %}
            <li>
                <a href="{{ pdf.pdf_url }}" target="_blank">Ver PDF</a>
                (Subido: {{ pdf.created_at }})
            </li>
        {% endfor %}
        </ul>
        {% else %}
            {% if is_master %}
                <p>No hay ningún PDF cargado todavía.</p>
            {% else %}
                <p>Todavía no has subido PDFs.</p>
            {% endif %}
        {% endif %}
        -->

        <br><br>

        <hr>




        <!--BOTON CONTACTO -->
        <div style="text-align:center;">
            <a class="btn btn-primary btn-lg"  type="button"                                       href="mailto:ags.cbta205.depacadycomp@dgetaycm.sems.gob.mx?cc=ags.cbta205.subacad@dgetaycm.sems.gob.mx&bcc=ags.cbta205.direccion@dgetaycm.sems.gob.mx&subject=Consulta&body=Nombre%20y%20apellidos%3A%0APregunta%20o%20comentario%3A">Contacto</a>
        </div>
        </main>
        <footer>
        <p class="mt-3 mb-5 text-center">&copy; 2025 HRBC</p>
        </footer>
</body>
</html>