<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cbta330</title>
  <!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<script>
      function updateDateTime() {
          // Get the current date and time in Central Mexico
          let options = {
              timeZone: "America/Mexico_City",
              year: "numeric",
              month: "long",
              day: "numeric",
              hour: "2-digit",
              minute: "2-digit",
              second: "2-digit",
              hour12: true
          };

          let currentDateTime = new Date().toLocaleString("es-MX", options);

          // Format the date and time as "9 de abril de 2025, 09:40:00"
          const dateTimeElement = document.getElementById('date-time');
          if (dateTimeElement) {
              dateTimeElement.innerHTML = currentDateTime;
          }
      }

      // Update the time every second
      setInterval(updateDateTime, 1000);

      // Initial call to set the time immediately
      updateDateTime();
</script>


<style>

  .container{
      margin-left:auto;
      margin-right:auto;
      text-align:justify;
  }

  #portada{
    object-fit:cover;
    max-width:100%;
    max-height:240px;
  }



  .banner2 {
      display:block;
      margin-left:auto;
      margin-right:auto;
      max-height:200px;
      object-fit:cover;
      object-position: 0px -0px;
  }

  .logox {
      display:block;
      margin-left:auto;
      margin-right:auto;
      max-height:220px;
      max-width:185px;
  }

  #avisos {
      display:block;
      margin-left:auto;
      margin-right:auto;
      object-fit:fill;
      object-position: 0px 0px;
  }

  #banner {
      display:block;
      margin-left:auto;
      margin-right:auto;
      width:100%;
      max-height: 280px;
    
      object-fit:cover;
      object-position: center 30%;
  }

  .banner-container {
      position: relative;
      width: 100%;
      height: 340px;
      overflow: hidden;
      background: black;
  }

  .banner-video {
      position: absolute;
      top: 30%;
      left: 25%;
      transform: translate(-25%, -45%) scale(0.65);
      width: 100%;
      height: auto;
  }

  #bannerx {
      width: 100%;
      height: 100%;
      object-fit: contain;
    
  }

  @media (max-width: 768px) {
      #banner-video {
          max-height: 200px;
          top: 45%;
          left: 25%;
          transform: scale(1.0);
      }
      
      .banner-container {
          max-height: 180px;
      }
    
      .logox {
         max-height:180px;
         transform: translate(-0%, -10%);
       }
      
      
  }

  .iframe-wrapper {
    position: relative;
    width: 100%;
    padding-top: 40%; /* 4:3 */
    overflow: hidden;
  }

  .iframe-wrapper iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .contenedor-qr {
    display: flex;
    justify-content: center; /* Centra el QR en la pantalla (opcional) */
    padding: 20px;
  }

  /* Configuración general para el QR */
  .qr-responsivo {
    height: auto; /* Mantiene la proporción cuadrada del QR */

    /* Configuración para Escritorio (Por defecto) */
    width: 15vw; /* Cubre exactamente el 15% del ancho de la pantalla */
    min-width: 120px; /* Evita que se haga diminuto en pantallas medianas */
  }

  /* Configuración para Móviles (Pantallas menores a 768px) */
  @media (max-width: 768px) {
    .qr-responsivo {
      width: 50vw; /* Cubre exactamente el 50% del ancho de la pantalla */
    }
  }

</style>

  <!--
  <img class="mt-1" id="banner" src= "https://cbta330.onrender.com/static/CBTA 330 video.mp4">
  -->
<div class="banner-container">
  <video class="banner-video" autoplay muted loop playsinline>
    <source src="https://cbta330.onrender.com/static/CBTA%20330%20video.mp4" type="video/mp4">
  </video>
</div>

  

  

  

<body>
  
  <div class="container">

    <div class="row justify-content-center">
      <br><hr>
      <img class="logox" src="https://cbta330.onrender.com/static/logo_330.jpg">
    </div>

    
    <div class="row">
      <div class="d-block d-sm-none">
            <!-- Este contenido solo será visible en móviles -->
        
      </div>

      <text style="text-align:right;color:rgb(200,200,200)">by HRBC</text>
    
      <h2 style="color:#0AC000;">Centro de Bachillerato Tecnológico Agropecuario No.330<br>Texcoco, Estado de México
      </h2>
      <p style="text-align:right;">CCT 15DTA0003I</p>
              <!--BOTON CONTACTO -->
      <div style="text-align:start;">
            Escríbenos tus preguntas y comentarios	&#128073;
            <a class="btn btn-primary btn-lg"  type="button"  
            href="mailto:mex.cbta330.direccion@dgetaycm.sems.gob.mx?subject=Consulta&body=Escriba%20aqu%C3%AD%20su%20pregunta%20o%20comentario%0A--%3E">aquí</a>
      </div>
    
      <div style="text-align:left;padding-left:20px;">
          <text style="font-size:11px;color:#04AA6D;" id="date-time"></text>&nbsp;
          <text style="font-size:11px;color:#04AA6D;">, </text>
          <text style="font-size:11px;color:#04AA6D;" id="time"></text>
      </div>
    </div>
    <br>
    <h3>¡Tu mejor opción de bachillerato ahora más cerca de ti!</h3>
    <a href="https://www.instagram.com/cbta.330/" target="_blank">
            <img  src="https://cbta330.onrender.com/static/instagramLogo2.png" class="img-fluid social-icon" height="40" width="40">
    </a>
    <a href="https://www.facebook.com/p/CBTA-330-61579106541020/" target="_blank">
            <img  src="https://cbta330.onrender.com/static/facebookLogo2.png" class="img-fluid social-icon" height="45" width="45">
    </a>

  <div style="color:white;background-color:rgb(20,100,50);padding:10px">
    <h5>Requisitos de inscripción</h5>
    <ul>
       <li>Certificado de secundaria.</li> 
      <li>Oficio de autentcidad de estudios de secundaria.</li>
      <li>Acta de nacimiento original y 4 copias.</li>
      <li>CURP actualizado y 4 copias.</li>
      <li>Número de seguridad social y 4 copias.</li>
      <li>Certificado médico original y 4 copias.</li>
      <li>6 fotografías tamaño infantil.</li>
      <li>Copia de INE de la madre, padre o tutor legal.</li>
      <li>Folder color verde T/C.</li> 
    </ul>


    

      <div style="background-color:yellow; color:black; padding:7px;">
            Si ya estás preinscrito deberás descargar los formatos complementarios en esta <a href="https://cbta330.onrender.com/static/FormatosComplementarios.zip">LIGA</a> o usando el siguiente QR de descarga; deberás llenarlos con tinta azul y entregarlos en original.
<!--
        <ul>
            <li>Ficha de identificación</li>
            <li>Acuerdo de sana convivencia</li>
            <li>Carta compromiso de padres de familia</li>
            <li>Carta compromiso del estudiante</li>
            <li>Formato uso de imagen</li>
            <li>Formato uso de datos</li>
            <li>Carta de uso responsable del celular</li>
            <li>Formato de consentimiento de revisión de útiles escolares</li>
        </ul>
-->
        <br>

          <div class="contenedor-qr">
            
            <img src="https://cbta330.onrender.com/static/QRzipFormatosComplementarios.png" alt="Código QR para ir al sitio web" class="qr-responsivo">
          </div>
            
      </div>
    
    
    
  </div>
    
    <hr>
    <h5>ACTIVIDADES</h5>
    <div id="avisos">
      <div class="row justify-content-between">
        <div class="col-12 col-md-4">
    
          marzo<br>
          <b>1er Festival de juventudes</b>.<br><br>
          <a href="https://dgetaycm.sep.gob.mx/storage/recursos/2026/02/8zlWZDMp7T-CONVOCATORIA_06-02-26.pdf" target="_blank">
            <img class="img-fluid" max-height="160" max-width="550" src="https://turismoafondo.mx/wp-content/uploads/2023/02/tabasco.jpg">
            <div class="d-block d-sm-none">
                    <!-- Este contenido solo será visible en móviles -->
                <br><br>
            </div>
          </a>
        </div>
    
        <div class="col-12 col-md-4">
    
          abril<br>
          <b>Concurso literario</b>.<br><br>
          <a href="https://semar.gob.mx/Concursos/ElViejoYLaMar/A%C3%B1o%202024/CONVOCATORIA_EL_VIEJO_Y_LA_MAR_2024.pdf" target="_blank">
                <!--
                <img class="img-fluid" max-height="160" max-width="550" src="https://yoremiacalificaciones.com.mx/wp-content/uploads/2023/05/beca-benito-1.jpg">
                -->
              <img class="img-fluid" max-height="160" max-width="550" src="https://www.gob.mx/cms/uploads/article/main_image/142205/imagen.jpg">
                
              <div class="d-block d-sm-none">
                  <!-- Este contenido solo será visible en móviles -->
                  <br><br>
              </div>
            </a>
        </div>
    
    
    
        <div class="col-12 col-md-4">
            marzo<br>
            <b>Jornada por la paz</b>.<br><br>
                
            <img class="img-fluid" max-height="160" max-width="550" src="https://cbta330.onrender.com/static/jornada01.jpg">
        </div>
      </div>
    </div>
    
    <div class="d-none d-lg-block">
          <!-- Este contenido sólo se verá en pantallas grandes (lg / >= 992px) -->
          <br><br>
    </div>
    
    <hr>
    
    <div class="row">
      <div class="row justify-content-between">
        <div class="col-12 col-md-8">
            <h1>Nuestra oferta educativa</h1>
            <p>
              Estudia el bachillerato con nosotros para obtener además una carrera técnica con tres opciones:
              <b>Sistemas de Producción Pecuaria, Sistemas de Producción Agrícola</b> o 
              <b>Ciberseguridad.</b>
            </p>
            <ul>
                <li>
                        <!--<a href="https://cosac.sems.gob.mx/Docentes/Programas_de_estudio_del_Bachillerato_Tecnologico_Formacion_Profesional/Programas_de_estudio_disenados_en_el_2013/DGETA/Sistemas_Produccion_Pecuaria.zip" target="_blank">-->
                    <h4 style="color:purple;">Sistemas de Producción Pecuaria</h4>

                    Esta carrera técnica permite al egresado realizar actividades dirigidas al manejo, alimentación, sanidad y reproducción de especies pecuarias.

                    <br><br><br>
                        <!--</a>-->
                </li>
                <li>
                        <!--<a href="https://cosac.sems.gob.mx/Docentes/Programas_de_estudio_del_Bachillerato_Tecnologico_Formacion_Profesional/Programas_de_estudio_disenados_en_el_2013/DGETA/Sistemas_Produccion_Agricola.zip" target="_blank">-->
                    <h4 style="color:purple;">Sistemas de Producción Agrícola</h4>

                    Este programa permite al egresado realizar actividades dirigidas a promover técnicas agrícolas sustentables para fomentar proyectos integrales.

                    <br><br><br>
                        <!--</a>-->
                </li>
                    <!--
                    <a href="https://cosfac.sems.gob.mx/Programas_presenciales/2025/SOPORTE_Y_GESTION_DE_TECNOLOGIAS_INFORMATICAS.pdf" target="_blank">
                    -->
                <li>
                        <!--<a href="https://cosac.sems.gob.mx/Programas_presenciales/2024/Ciberseguridad_presencial.pdf" target="_blank">-->
                    <h4 style="color:purple;">Ciberseguridad</h4>
                    Esta carrera técnica permite al egresado salvaguardar la integridad de los sistemas informáticos contra amenazas cibernéticas para mantener los sistemas en operación en un entorno digital. 
                    <br><br><br>
                        <!--</a>-->
                </li>
              
            </ul>
        </div>
    
    
        <div class="col-12 col-md-4">
              <!--<img class="img-fluid" src="https://images.pexels.com/photos/6929195/pexels-photo-6929195.jpeg">-->
              <img class="img-fluid" max-width="270"  src="https://cbta330.onrender.com/static/farmsheep3.jpeg">
        
        </div>
      </div>
      
    </div>

    
    <hr>
      
    <div class="row justify-content-center">
      
        <img class="logox"   src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExYnF3cnVjZXJxbjlsZzM3cDRteHRpZ3Q0bThmb2l0amF3MzB4d3A3ciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QaN5BogCfpp6hQ4GA9/giphy.gif">
      <div class="d-block d-sm-none">
                    <!-- Este contenido solo será visible en móviles -->
      </div>
      
    </div>
    <div class="d-none d-lg-block">
            <!-- Este contenido sólo se verá en pantallas grandes (lg / >= 992px) -->
    </div>

    <hr>

    <h3>Ubicación</h3>

    <div class="row align-items-start">
               <!-- CONTENIDO / TEXTO (2/3 en desktop) -->
      <div class="col-12 col-lg-6 mb-3">

            Calle Los Limones SN, Villas de Tolimpa, Texcoco, Estado de México. <br>
            Tel: 5532603391<br>
            correo: <button type="button" class="btn btn-primary"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"  
                     href="mailto:mex.cbta330.direccion@dgetaycm.sems.gob.mx?subject=Consulta&body=Escriba%20aqu%C3%AD%20su%20pregunta%20o%20comentario%0A--%3E">contacto</a>
      </div>

    </div>

    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="iframe-wrapper">
          <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3173.790380095816!2d-98.88383939914081!3d19.47584909676784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDI4JzMzLjAiTiA5OMKwNTInNTQuMyJX!5e1!3m2!1ses-419!2smx!4v1770351832769!5m2!1ses-419!2smx" width="600" height="480" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
    </div>
    
    <hr>
    
    <div class="row">
      <div class="col-12 col-lg-6">
        <a href="https://educacionmediasuperior.sep.gob.mx/calendario.html" target="_blank">Calendario
        escolar 2026-2027<br>
        <img max-height="240px" src="https://www.cbta330.onrender.com/static/calendario2026_2027.png" class="img-fluid">
        </a>
      </div>
    </div>

    <hr>
    
    <br><br>
 
    <h2>Clima y estado del tiempo<br></h2>
    <br>
                     
    <h4>Consulta nuestro datos climatológicos registrados cada media hora en<br>
    nuestra estación Huexotla, Texcoco.</h4>
    <!--<h5 style="color:red;">EL SENSOR SE APAGÓ POR MANTENIMIENTO EL DÍA 25 DE FEBRERO DE 10:00 A 13:00 HRS. </h5>
    <br>-->

    <div class="d-none d-sm-block">
      La gráfica contiene tooltips. Coloca el cursor sobre alguno de los puntos
      de la gráfica y se desplegará su información.
    </div>
    <div class="d-block d-md-none">
      <!-- Solo visible en móviles -->
      Haz ciick sobre alguno de los puntos de la gráfica para ver su información.<br>
      
    </div>
              
            
    <div class="row justify-content-between">
              <!--
              <div class="col-12 col-md-5">
                <div class="iframe-wrapper" style="position: relative; padding-top: 100%; /* 16:9 ratio */">
                  <iframe width="100%" height="260" src="https://thingspeak.com/channels/2860984/charts/1?bgcolor=%23fada1a&color=%23d62020&dynamic=true&results=300&round=1&timescale=30&title=Temperatura+%C2%B0C&type=line&xaxis=tiempo&yaxis=Temperatura" style="position: absolute; top:0; left:0;  border:0;"></iframe>
                </div>	
              
                <div class="d-block d-sm-none">
                     
                  <div>
                  </div>
                </div>
              </div>
            
              <div class="col-12 col-md-5">
                <div class="iframe-wrapper" style="position: relative; padding-top: 50%; /* 16:9 ratio */">
                  <iframe width="100%" height="260" src="https://thingspeak.com/channels/2860984/charts/2?bgcolor=%23aeddad&color=%23d62020&dynamic=true&results=300&round=1&timescale=30&title=%25+Humedad+del+aire&type=line&xaxis=tiempo&yaxis=Humedad" style="position: absolute; top:0; left:0; border:0;"></iframe>
                  <br><br>
                  <div>
                    <br><br><br>
                    <hr>
                  </div>
                
                
    
                  Consulta el pronóstico del tiempo en tu municipio desde el <a href="https://smn.conagua.gob.mx/es/pronostico-del-tiempo-por-municipios"
                   target="_blank">Servicio Meteorológico Nacional</a>
                </div>	
              -->
    </div>


    <div class="row">
      <div class="col-12 col-lg-6 mb-4">
        <div class="iframe-wrapper">
          <iframe src="https://thingspeak.com/channels/2860984/charts/1?bgcolor=%23fada1a&color=%23d62020&dynamic=true&results=300&round=1&timescale=30&title=Temperatura+%C2%B0C&type=line&xaxis=tiempo&yaxis=Temperatura" loading="lazy">
          </iframe>
        </div>
      </div>

      <div class="d-block d-md-none">
        <!-- Solo visible en móviles -->
        <br><br><br>
      </div>

      <div class="col-12 col-lg-6 mb-4">
        <div class="iframe-wrapper">
          <iframe src="https://thingspeak.com/channels/2860984/charts/2?bgcolor=%23aeddad&color=%23d62020&dynamic=true&results=300&round=1&timescale=30&title=%25+Humedad+del+aire&type=line&xaxis=tiempo&yaxis=Humedad" loading="lazy">
          </iframe>
        </div>
      </div>
    </div>

    
    <br><br>

           

           
          
    <hr>
    
    <h4>Docentes</h4>
    <section class="col-12 col-md-6" style="background-color:#98FA6E;padding:1%;font-size:"14px">
            <!-- FLASH MESSAGES -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                          {{ message }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
      
      <form method="post" action="{{ url_for('login') }}">
              <!--<form id="myform" method="POST" action="choice">-->
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input maxlenght="20" size="20" type="text" 
                        id="username" name="username" required>
        </div>
        <div class="mb-3">
                     <label for="password" class="form-label">Password</label>
                     <input type="password"  maxlenght="20" size="20" id="password" name="password" required>
        </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <br>
        
                    <a>¿No tienes una cuenta?</a>
                    <br>
        
          <form id="myform" method="POST" action="choice">
                      <label>
                       ¿Quieres registrarte?<br>
                        <input type="checkbox" name="choice" value="D" class="single-checkbox"> Si
                      </label>
                      <br>
                      <a href="#" id="register-link">Continuar &#128209;</a>
                      <!--<a type="button" href="{{ url_for('register') }}">Haz click para registrarte:</a>-->
          </form>
      </form>
    </section>
    <br><br>
    <div class="d-none d-lg-block">
              <!-- Este contenido sólo se verá en pantallas grandes (lg / >= 992px) -->
              <br><br>
    </div>
    
    
    
    
    
    
            <br><br>
            <hr>
<!--
          <div style="text-align:center;">
          Correo de contacto<br>
                <a class="btn btn-primary btn-lg"  type="button"  
            href="mailto:hector.becerril@dgetaycm.sems.gob.mx?subject=Consulta&body=Escriba%20aqu%C3%AD%20su%20pregunta%20o%20comentario%3A%0A%0A--%3E%0A">@</a>
                <br><br><br>
            </div>
-->

  </div>

              <br><br><br><br>




  <script>
    document.getElementById("register-link").addEventListener("click", function (e) {
      e.preventDefault();
      const checked = document.querySelector('input[name="choice"]:checked');
      if (checked) {
        const choice = checked.value;
        window.location.href = `/register?choice=${choice}`;
      } else {
        alert("Por favor, selecciona una opción antes de continuar.");
      }
    });
  </script>
</body>
</html>